@import url('https://fonts.googleapis.com/css?family=Basic|Fredoka+One|Russo+One');
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800i');
/*
font-family: 'Open Sans', sans-serif;
font-family: 'Russo One', sans-serif; Nav Selection Items
font-family: 'Basic', sans-serif; Everything else*/
* {
    margin: 0;
    padding: 0;
}
/* HEADER START */
body{
    /* height: 4000px; */
    width: 1366px;
    margin: 0px auto;
    font-family: 'Basic', sans-serif;
    cursor: auto;
}
header{
    margin: 0px auto;
}

nav{
    height: 750px;

}
.header-left{
    display: block;
    float: left;
    width: 50%;
    height: 100%;
    background-color: #0A070C;
}
.header-right{
    background-color: green;
    width: 50%;
    height: 100%;
}

.header-left ul {
    padding-left: 30%;
    padding-top: 40%;
}

.media{
    padding-left: 235px;
    padding-top: 18em;

}
li{
    list-style-type: none;
    transition: 300ms;
    cursor: auto;
}
h1{
    padding-bottom: 50px;
}
h2{
    /* border-left: 2.55px solid #64E19A; */
    color: #64E19A;
    
}
p {
    text-indent: 50px;
}
nav a {
    width: 20px;
    /* padding-top: 30px; */
    color:#F0F4F4;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 35px;
    font-style: italic;
    transition: 300ms;
}

nav a:hover {
    border-left: 5px solid #FFAC19;
    padding-left: 10px;
    transition: 300ms;
    
}

nav li:hover {
    /* transform: translateX(25px); */
    transition: 300ms;
}


.information {
    margin: 0px auto;
    width: 500px;
    padding-top: 100px;

}
nav li {
   list-style-type: none;
}

nav h1 {
    font-family: 'Fredoka One', cursive;
}
.header-img{
    width: 100%;
    height: 1000px;
}

.title{
    height: 80px;
    background-color: #0A070C;
    color: #F0F4F4;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 15px;
    font-style: italic;
    border-top: 10px solid #F0F4F4;
}

main li {
    text-indent: 50px;
}
main li:hover{
    border-left: 2.5px solid #FFAC19;
    transition: 300ms;
}
.logo {
    padding: 10px;
    padding-left:40px;
    padding-right: 40px;
    height: 20px;
    width: 20px;
    transition: 300ms;
}

.logo:hover {
    transform: translateY(-10px);
    transition: 300ms;
}
#about-container{
    margin: 0px auto;
    width: 650px;
    height: 600px;
}
#portfolio-container{
    background-color: #0A070C;
    color: #F0F4F4;
    height: 600px;
}
#contact-container{
    margin: 0px auto;
    width: 650px;
    height: 300px;
}
/* MAIN END */
